@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: "Josefin Sans", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	scrollbar-color: rgb(112, 112, 112) transparent;
	scrollbar-width: thin;
}

.field-sizing-content {
	field-sizing: content;
}